<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5"
  metadata-complete="true">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FindDao</servlet-name>
        <servlet-class>PaymentGateway.Controllers.FindDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStudent</servlet-name>
        <servlet-class>PaymentGateway.Controllers.FindStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listener</servlet-name>
        <servlet-class>PaymentGateway.Controllers.Listener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayNow2</servlet-name>
        <servlet-class>PaymentGateway.Controllers.PayNow2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaynowPoller</servlet-name>
        <servlet-class>PaymentGateway.Controllers.PaynowPoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmissionsMail</servlet-name>
        <servlet-class>PaymentGateway.Model.AdmissionsMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>PaymentGateway.Model.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseNav</servlet-name>
        <servlet-class>PaymentGateway.Model.DatabaseNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayNowInitiate1</servlet-name>
        <servlet-class>PaymentGateway.Model.PayNowInitiate1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHA512</servlet-name>
        <servlet-class>PaymentGateway.Model.SHA512</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindDao</servlet-name>
        <url-pattern>/FindDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStudent</servlet-name>
        <url-pattern>/FindStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listener</servlet-name>
        <url-pattern>/Listener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayNow2</servlet-name>
        <url-pattern>/PayNow2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaynowPoller</servlet-name>
        <url-pattern>/PaynowPoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmissionsMail</servlet-name>
        <url-pattern>/AdmissionsMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseNav</servlet-name>
        <url-pattern>/DatabaseNav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayNowInitiate1</servlet-name>
        <url-pattern>/PayNowInitiate1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHA512</servlet-name>
        <url-pattern>/SHA512</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>